.banner{
margin-top: 10vh;
height: 80vh;
margin-bottom: -80px;
color: white;
object-fit: contain;
}
.banner_contents{
    margin-left: 30px;
    padding-top: 300px;
}
.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-top: 0.3rem;
}
.banner_description{
    width: 25rem;
    line-height: 1;
    padding: 1rem 0;
    font-size: 1rem;
    max-width: 368px;
    height: 10px;
}
.banner_button{
    cursor: pointer;
    color:#ffff;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 1rem 3rem;
    margin-right: 2rem;
    background-color: rgb(51, 51, 51, 0.5);
    
}
.play{
    color: #000;
    background-color: #ffff;
}
.banner_button:hover{
    color: #000;
    background-color: #ffff;
    transition: all 0.2s;
}
.banner_fadeButtom{
    height: 40vh;
    background-image: linear-gradient(360deg, transparent, rgb(37, 37, 37, 0.91), #111);
}
@media screen and (max-width: 768px) {
    .banner {
     height: 40vh;
    
    }
    .banner_title{
        font-size: 1.3rem;
        
    }
    .banner_contents{
        margin-left: 30px;
        padding-top: 100px;
    }
    .banner_button{
        font-size: 1rem;
        padding: 5px 8px;
    }
    .banner_description{
        width: 55rem;
        line-height: 1.25;
        
    }
  }
  