.row_poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
}

.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0;
}
.row_posters img{
    display: flex;
    flex-direction: column;
}

.row_posters::-webkit-scrollbar{
    display: none;
}
.row_poster:hover{
transform: scale(1.08);
}
.row_posterLarge{
    max-height: 250px;
}
.row_posterLarge:hover{
    transform: scale(1.09);
}
.row{
    margin-left: 14px;
    color: white;
}
row h1{
  margin: 0 10px;
  font-size: 0.9rem;
}
@media (max-width: 768px) {
    .movie_item {
      width: 100px;
    }
    .row h1{
      padding-top: 10px;
     font-size: 1rem;
     text-align: center;
    }
  
    .row_poster {
      max-height: 150px;
      max-width: 150px;
      padding: 5px 0;
      
    }
  
    .row_posterLarge {
      max-height: 200px;
      margin-right: 10px;
    }
  
    .movie_name {
      font-size: 0.75rem;
    }
  }
  
  @media (max-width: 480px) {
    .movie_item {
      width: 80px;
    }
  
    .row_poster {
      max-height: 120px;
    }
  
    .row_posterLarge {
      max-height: 160px;
    }
  
    .movie_name {
      font-size: 0.7rem;
    }
}
