
.header_outer {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  color: white;
    background-color: black;
    /* background-color: transparent; */
    height: 10vh;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    z-index: 1;
}
.header_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.leftside_nav ul li {
    display: inline-block;
    margin: 10px 15px;
    list-style: none;
    padding-bottom: 20px;
}

/* 
.leftside_nav ul li:nth-child(1){
     margin-right: 50px; 
     display: flex;
     align-items: center;
     background-color: aliceblue;
    
} */
.leftside_nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: monospace;
    font-weight: 400;
     color: white;
}
.rightside_nav{
 margin-right: 10px;
 margin-left: 10px;
}
.rightside_nav ul li{
display: inline-block;
margin: 5px 8px;
list-style: none;

}
.rightside_nav ul li img{
    width: 100%;
}
.rightside_nav ul li a {
    text-decoration: none;
    text-align: center;
     color: white;
}